* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: stretch;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  padding: 3vh 10vh;
  overflow: scroll;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  font-size: large;
}

form > input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1vh;
  font-size: large;
}

.form-submit {
  padding: 1vh;
  font-size: large;
  border-radius: 10px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 2px 1px lightgray;
}

.form-submit:active {
  background-color: lightgray;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  width: 80%;
}

.top-left {
  display: flex;
  gap: 1vh;
}

.top-left-col1 {
  display: flex;
  font-size: 3rem;
}

.top-left-col2 {
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.top-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.bot-section {
  display: flex;
  gap: 5vh;
}

#bot-card {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px black solid;
  border-radius: 10px;
}

.bot-card-hour {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  gap: 1vh;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}

.bot-card-hour-data {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.hour-hidden {
  display: none;
}

#myChart {
  position: absolute;
  width: 40vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 55%;
  z-index: -1;
}
